nicegui==2.17.0
sqlalchemy==2.0.41
asyncmy==0.2.10
chromadb==1.0.9
llama-index==0.12.37
llama-index-graph-stores-nebula==0.4.2
llama-index-vector-stores-chroma==0.4.1
PyMuPDF==1.25.5
langchain==0.3.25
langchain-google-genai==2.1.4
langchain-ollama==0.3.3
langchain-openai==0.3.17
# llama-index-embeddings-gemini
langchain-huggingface==0.2.0
alembic==1.15.2
mysqlclient==2.2.7